 
<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="start center">
		<a href="#/companies">
			<md-button class="md-fab" aria-label="Billing Company">
			<icon class="fa fa-chevron-left" style="color:white"></icon>
			</md-button>
		</a>
		
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">New Billing Company</h5>
<form name="form.billingCompany" style="padding:24px">
	
	<div layout layout-sm="column">
		<!-- Company Name -->
		<md-input-container flex>
		<label>Company Name</label>
		<input ng-model="company.companyName" required type="text"/>
		</md-input-container>
		<!-- Business Number -->
		<md-autocomplete required flex
		md-input-name="businessNumber"
		ng-disabled="bnIsDisabled"
		md-no-cache="bnNoCache"
		md-selected-item = "bnSelectedItem"
		md-search-text-change = "bnSearchTextChange(bnSearchText)"
		md-search-text="bnSearchText"
		md-selected-item-change="bnSelectedItemChange(item)"
		md-items="item in bnQuerySearch(bnSearchText)"
		md-item-text="item.display"
		md-floating-label="Business Name">
		<md-item-template>
		<span md-highlight-text="bnSearchText" md-highlight-flags="^i">{{item.display}}</span>
		</md-item-template>
		<md-not-found>
		No matches found for "{{bnSearchText}}".
		</md-not-found>
		</md-autocomplete>
	</div>
	<div layout layout-sm="column">
		<!-- Collection Account -->
		<md-input-container flex>
		<label>Collection Account</label>
		<input ng-model="company.collectionAccount" required type="text"/>
		</md-input-container>
		<!-- Short Code -->
		<md-input-container flex>
		<label>Short Code</label>
		<input ng-model="company.shortCode" type="text"/>
		</md-input-container>
		<!-- Short Code Override-->
		<!-- <md-input-container flex> -->
		<div flex>
		<md-checkbox 
		ng-model="company.shortCodeOverride"
		aria-label="Short Code Override"><span style="vertical-align:bottom">override</span>
		</md-checkbox>
	</div>
		<!-- </md-input-container> -->
	</div>
	<div layout layout-sm="column">
		<!-- Account Number -->
		<md-input-container flex>
		<label>Account Number</label>
		<input ng-model="company.accountNumber" required type="text" ng-blur="validateAccount(company.accountNumber)"/>
		</md-input-container>
		
		<!-- Account Title -->
		<md-input-container flex>
		<label>Account Title</label>
		<input ng-model="company.accountTitle" required type="text"/>
		</md-input-container>
	</div>
	<!-- For Lipa Karo Only -->
	<div layout layout-sm="column" ng-if="selectedBizNo == 'lipa karo kcb account-522123'">
		<!-- Branch Name -->
		<md-autocomplete required flex
		md-input-name="branchName"
		ng-disabled="brIsDisabled"
		md-no-cache="brNoCache"
		md-selected-item = "brSelectedItem"
		md-search-text-change = "brSearchTextChange(bnSearchText)"
		md-search-text="brSearchText"
		md-selected-item-change="brSelectedItemChange(item)"
		md-items="item in brQuerySearch(brSearchText)"
		md-item-text="item.display"
		md-floating-label="Branch Name">
		<md-item-template>
		<span md-highlight-text="brSearchText" md-highlight-flags="^i">{{item.display}}</span>
		</md-item-template>
		<md-not-found>
		No matches found for "{{brSearchText}}".
		</md-not-found>
		</md-autocomplete>
		<!-- Sales Code -->
		<md-input-container flex>
		<label>Sales Code</label>
		<input ng-model="company.salesCode" type="text"/>
		</md-input-container>
	</div>
	<div layout layout-sm="column">
		<!-- Company Cell Phone -->
		<md-input-container flex>
		<label>Company Cell Phone</label>
		<input ng-model="company.companyCellPhone" type="text"/>
		</md-input-container>
		<!-- Company Email -->
		<md-input-container flex>
		<label>Company Email</label>
		<input ng-model="company.companyEmail" type="email"/>
		</md-input-container>
	</div>

	<!-- added stuff  -->

	<md-radio-group required ng-model="company.businessType" ">
       <md-radio-button value="payBill" class="md-primary"  ng-model="company.companyBusinesstype" >Pay Bill</md-radio-button>
                <md-radio-button value="tillNumber" ng-model="company.companyBusinesstype" > Till Number </md-radio-button>
            </md-radio-group>

      <div ng-show="company.businessType == 'payBill'">
          <p>Select Paybill Tarriff</p>
          
 		 <div layout="column" style="max-width: 200px;">
    		<md-select  placeholder="Select Tarrif" ng-model="company.charge" md-on-open="loadTarrifs()" >
      		<md-option ng-repeat="theuser in tarrifsTypes track by $index" ng-value="theuser.tarrifid">{{theuser.tarrifname}}</md-option>
    		</md-select>
    		</div>
	    </div>
               

          <div ng-show="company.businessType == 'tillNumber'">
                <p>Select Till Number Charges</p>
                <md-radio-group required ng-model="company.charge">
                <md-radio-button value="0" >No Charge </md-radio-button>
                <md-radio-button value="0.5-%" >0.5%</md-radio-button>
                <md-radio-button value="1-%"  >1% </md-radio-button>
                <md-radio-button value="1.5-%"  >1.5% </md-radio-button>
                <md-radio-button value="2-%"  >2% </md-radio-button>
               </md-radio-group>
         </div>

	
	<!-- Submit Button -->
	<div layout="row" layout-align="end center">
		<button class="btn grey" ng-click="resetForm();">Clear <icon class="fa fa-times"></icon></button>&emsp;
		<button class="btn" ng-click="save(company,company.businessType);">Submit <icon class="fa fa-check"></icon></button>
	</div>
</form>
</md-card-content>
</md-card>
</md-content>