<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="end center">
		<a href="#/new-company">
			<md-button class="md-fab" aria-label="New Billing Company">
			<icon class="fa fa-plus" style="color:white"></icon>
			</md-button>
		</a>
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">Billing Companies</h5>
<div loading-container="tableParams.settings().$loading">
	<div class="responsive-table">
		<table ng-table="tableParams" show-filter="true" class="table bordered striped hoverable" ng-style="{'table-layout':'fixed'}">
			<tbody>
				<tr ng-repeat="company in $data">
					<td filter="{'companyName':'text'}" data-title="'Company Name'" ng-style="{'word-wrap':'break-word'}">{{company.companyName}}</td>
					<td filter="{'companyCode':'text'}"data-title="'Company Code'">{{company.companyCode}}</td>
					<td data-title="'Collection Account'" ng-style="{'word-wrap':'break-word'}">{{company.collectionAccount}}</td>
					<td data-title="'Account Number'">{{company.accountNumber}}</td>
					<td data-title="'Business Number'">{{company.fkbusinessnum}}</td>
					<td data-title="'Telephone'">0{{company.companyCellPhone.substring(3,12)}}</td>
					<td data-title="'Email'" ng-style="{'word-wrap':'break-word'}">{{company.companyEmail}}</td>
					<td data-title="'Status'"
						ng-style="{{company.status}} == '0' ? {'color':'blue'} : {{company.status}} == '1' ? {'color':'green'} : {'color':'red'}">
						{{company.status == 0 ? 'Pending Approval' : company.status == 1 ? 'Active' : company.status == 2 ? 'Rejected' : 'Disabled'}}
					</td>
					<td data-title="'Action'">
						<a href="#/company/{{company.companyID}}" ng-show="({{company.status}} == '1' && isPaybillMaker) || ({{company.status}} == '2' && isPaybillMaker)">
							<icon class="fa fa-pencil" style="color:#333"></icon>
							<md-tooltip>Edit</md-tooltip>
						</a>
						<a href="" ng-click="rejectCompany($event,company);" ng-show="({{company.status}} == '0') && isPaybillChecker">
							<icon class="fa fa-times" style="color:red"></icon>
							<md-tooltip>Reject</md-tooltip>
						</a>&nbsp;
						<a href="" ng-click="approveCompany($event,company);" ng-show="({{company.status}} == '0') && isPaybillChecker">
							<icon class="fa fa-check" style="color:green"></icon>
							<md-tooltip>Approve</md-tooltip>
						</a>
						<a href="" ng-show="({{company.status}} == '2' && !isPaybillMaker)  || {{company.status}} == '3' || ({{company.status}} == '0' && !isPaybillChecker) || ({{company.status}} == '1' && !isPaybillMaker)">
							<icon class="fa fa-ban" style="color:orange"></icon>
							<md-tooltip>No Action</md-tooltip>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</md-card-content>
</md-card>
</md-content>