<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="start center">
		<a href="#/companies">
			<md-button class="md-fab" aria-label="Billing Company">
			<icon class="fa fa-chevron-left" style="color:white"></icon>
			</md-button>
		</a>
		
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">Edit Billing Company</h5>
<form name="form.billingCompany" style="padding:24px">
	
	<!-- Company Name -->
	<md-input-container>
	<label>Company Name</label>
	<input ng-model="company.companyName" required type="text"/>
	</md-input-container>
	<!-- Account Number -->
	<md-input-container>
	<label>Account Number</label>
	<input ng-model="company.accountNumber" required type="text"/>
	</md-input-container>
	<!-- Business Number -->
	<md-input-container>
	<label>Business Number</label>
	<input ng-model="company.fkbusinessnum" required type="text"/>
	</md-input-container>
	<!-- Company Cell Phone -->
	<md-input-container>
	<label>Company Cell Phone</label>
	<input ng-model="company.companyCellPhone" required type="text"/>
	</md-input-container>
	<!-- Account Title -->
	<md-input-container>
	<label>Account Title</label>
	<input ng-model="company.accountTitle" required type="text"/>
	</md-input-container>
	<!-- Company Email -->
	<md-input-container>
	<label>Company Email</label>
	<input ng-model="company.companyEmail" required type="email"/>
	</md-input-container>
	
	<!-- Submit Button -->
	<div layout="row" layout-align="end center">
		<button class="btn grey" ng-click="resetForm();">Clear <icon class="fa fa-times"></icon></button>&emsp;
		<button class="btn" ng-click="update(company);">Submit <icon class="fa fa-check"></icon></button>
	</div>
</form>
</md-card-content>
</md-card>
</md-content>