<md-content class="md-padding">
    <md-card>
        <md-card-content>
            <!--Header section-->
            <h5 class="md-title md-primary">Account Closure</h5>

            <h3 class="md-subhead">Please enter a phone number or upload a file</h3>

            <div layout="row" layout-sm="column">
                <div flex="55" flex-sm="100">
                    <form name="form.closureForm" layout="row" layout-sm="column" ng-submit="searchOrSubmit(account,buttonText)">
                        <md-input-container flex="35">
                            <label>Phone number (MISDN)</label>
                            <input type="number" ng-model="account.recMisdn" ng-minlength="12" ng-maxlength="12" required>
                        </md-input-container>
                        <md-input-container style="margin-top: 16px" flex-offset="5">
                            <label>Closure Type</label>
                            <md-select ng-model="account.recStatusDesc" ng-change="closureTypeChanged(account.recStatusDesc)">
                                <md-option value=""></md-option>
                                <md-option value="Recycle">Recycling</md-option>
                                <md-option value="On Demand">On Demand</md-option>
                                <md-option value="Change Ownership">Change Ownership</md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-primary" style="height: 40px; margin-top: 30px" type="submit">{{buttonText}}</md-button>
                    </form>
                </div>
                <div layout="row" flex="40" flex-sm="100" layout-sm="column">
                    <form action="#" flex="90">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Upload</span>
                                <input type="file" id="bulkUpload">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text"
                                       ng-model="account.file" ng-change="uploadFile()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--Table section-->
            <div loading-container="tableParams.settings().$loading">
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary md-raised">Approve</md-button>
                    <md-button class="md-accent md-raised">Reject</md-button>
                </div>
                <div class="responsive-table">
                    <table ng-table="tableParams" show-filter="true" class="table bordered striped hoverable">
                        <thead>
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>Phone Number</b></td>
                            <td><b>Closure Type</b></td>
                            <td><b>Status</b></td>
                            <td>
                                <md-checkbox ng-model="selectAll" aria-label="SelectEverything"
                                             ng-click="selectAll($data)"></md-checkbox>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="customer in $data">
                            <td>{{customer.recName}}</td>
                            <td>{{customer.recMisdn}}</td>
                            <td>{{customer.recTypeDesc}}</td>
                            <td ng-style="'{{customer.recStatus}}' == '5' ? {'color':'orange'} : '{{customer.recStatus}}' == '0' ? {'color':'green'} : {'color':'red'}">
                                {{customer.recStatus == 5 ? 'Pending Approval' : customer.recStatus == 0 ? 'Approved' :
                                customer.recStatus == 3 ? 'Rejected' : 'Disabled'}}
                            </td>
                            <td>
                                <md-checkbox ng-model="selectAll" aria-label="SelectIndividual"
                                             ng-click="selectIndividual(customer)"></md-checkbox>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-content>