<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="end center">
		<a href="#/mpesaRecon-new/{{reconType}}">
			<md-button class="md-fab" aria-label="New Reconciliation">
			<icon class="fa fa-plus" style="color:white"></icon>
			</md-button>
		</a>
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">{{reconType.toUpperCase()}} Mpesa Reconciliation Uploads</h5>
<div loading-container="uploadParams.settings().$loading">
	<div class="responsive-table">
		<table ng-table="uploadParams" show-filter="true" class="table bordered striped hoverable">
			<tbody>
				<tr ng-repeat="upload in $data">
					<td data-title="'File Name'">
						<button
						class="btn btn-flat"
						ng-disabled="{{upload.mruStatus}} == 1 ? false : {{upload.mruStatus}} == 3 ? false : {{upload.mruStatus}} == 4 ? false :true"
						ng-style="{{upload.mruStatus}} == 1 ? {color:'blue'} : {{upload.mruStatus}} == 3 ? {color:'blue'} :{color:'grey'}"
						ng-click="loadFileDetails(upload.mruId,upload.mruStatus,reconType)">{{upload.mruFileName}}
						</button>
					</td>
					<td data-title="'Uploaded By'">{{upload.mruUploadedBy.usrName}}</td>
					<td data-title="'Amount'">{{upload.mruAmount | number:2}}</td>
					<td data-title="'Date Uploaded'">{{upload.mruDateUploaded}}</td>
					<td data-title="'status'"
						ng-style="{{upload.mruStatus}} == 0 ? {color:'black'} : {{upload.mruStatus}} == 1 ? {color:'blue'} : {{upload.mruStatus}} == 2 ? {color:'orange'} : {{upload.mruStatus}} == 3 ? {color:'blue'} : {{upload.mruStatus}} == 4 ? {color:'green'} :{color:'red'}">
					{{upload.mruStatus == 0 ? 'Processing' : upload.mruStatus == 1 ? 'Maker' : upload.mruStatus == 2 ? 'Error Processing': upload.mruStatus == 3 ? 'Checker' : upload.mruStatus == 4 ? 'Processed':'Unexpected Error'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</md-card-content>
</md-card>
</md-content>