<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="end center">
		<a href="#/new-permission">
			<md-button class="md-fab" aria-label="New Permission">
			<icon class="fa fa-plus" style="color:white"></icon>
		</md-button>
	</a>
</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title md-accent">Permissions</h5>
<div loading-container="tableParams.settings().$loading">
	<table ng-table="tableParams" show-filter="true" class="table responsive-table bordered striped hoverable">
		<tbody>
			<tr ng-repeat="permission in $data">
				<td filter="{'name':'text'}" data-title="'Permission Name'">{{permission.permissionName}}</td>
				<td data-title="'Description'">{{permission.permissionDescription}}</td>
				<td data-title="'Action'">
					<a href="#/permission"
					<icon class="fa fa-eye" style="color:#333"></icon></a>&nbsp;
					<a href="#/role/{{permission.permissionId}}">
						<icon class="fa fa-pencil" style="color:#333"></icon>
					</a>
					<!-- <icon class="fa fa-trash"></icon> -->
				</td>
			</tr>
		</tbody>
	</table>
</div>
</md-card>
</md-card-content>
</md-content>