<div layout="row" layout-align="center center">
	<div flex="50">
		
		<md-content class="md-padding">
		<div class="row">
			<div class="col m12 s12">
				<form name="passwordChangeForm" style="padding:12px" class="duma-form">
					<div class="duma-clear"></div>
				<div class="card z-depth-5">
						<!-- Card Content -->
						<div class="card-content white-text">
							<span class="card-title teal-text">Change Password</span>
							<!-- User Name -->
							<md-input-container>
							<label><icon class="fa fa-user"></icon>&emsp;UserName</label>
							<input ng-model="user.usrEmail" required type="text" placeholder="Enter Email" ng-disabled="true"/>
							</md-input-container>
							<!-- Password -->
							<md-input-container>
							<label><icon class="fa fa-lock"></icon>&emsp;Password</label>
							<input ng-model="user.usrPassword" required type="password" placeholder="Enter Password" ng-disabled="true"/>
							</md-input-container>
							<!-- New Password -->
							<md-input-container>
							<label><icon class="fa fa-lock"></icon>&emsp;New Password</label>
							<input ng-model="user.newPassword" required type="password" placeholder="Enter New Password"/>
							</md-input-container>
							<!-- Confirm Password -->
							<md-input-container>
							<label><icon class="fa fa-lock"></icon>&emsp;Confirm Password</label>
							<input ng-model="user.confirmPassword" required type="password" placeholder="Confirm Password">
							</md-input-container>
						</div>
						<!-- Card Action -->
						<div class="card-action">
							<!-- Submit Button -->
							<div layout="row" layout-align="end center">
								<button class="btn" ng-click="changePassword(user);">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</md-content>
	</div>
</div>