<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="DumaAdmin">
<head>
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1"> -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="css/angular-material.min.css"/>
    <link rel="stylesheet" href="css/ng-table.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/materialize.css"/>
    <link rel="stylesheet" href="css/angular-chart.css"/>
    <link rel="stylesheet" href="css/loading-bar.css"/>
    <link rel="stylesheet" href="css/bundle.css"/>
</head>
<body layout="column" ng-controller="MainController">
<md-toolbar layout="row" class="md-medium-tall">
    <!-- hide-gt-sm  -->
    <button ng-click="toggleSideNav('left')" class="menuBtn" ng-show="hamburgerAvailable">
        <span class="visually-hidden">Menu</span>
    </button>
    <h1 ng-style="{'color':'white'}"><img ng-src="img/kcb_lion.png" width="70px" height="70px" align="center"/>Duma
        Admin</h1>
    <md-button
            class="dropdown-button"
            ng-style="{'color':'white'}"
            data-activates="loggedInDropDown"
            aria-label="logged in dropdown"
            ng-show="authenticated">
        <span ng-style="{'font-size': '18px','padding':'20px'}"> <icon class="fa fa-user"></icon> <span
                ng-bind="loggedInUser"></span></span>
    </md-button>
    <ul id='loggedInDropDown' class="dropdown-content">
        <li><a ng-click="logout();">
            <icon class="fa fa-power-off"></icon>
            Log Out</a></li>
        <li><a ng-click="changePassword();">
            <icon class="fa fa-lock"></icon>
            Change Password</a></li>
    </ul>
</md-toolbar>
<div layout="row" flex>
    <!-- md-is-locked-open="$media('gt-sm')" -->
    <!-- md-is-locked-open="false" -->
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="menuAvailable">
        <md-toolbar class="md-accent" layout="row" layout-align="center center">
            <!-- <h1 class="md-toolbar-tools">Menu</h1> -->
            <h1>Menu</h1>
        </md-toolbar>
        <md-content>
            <md-list class="sideNav-list">
                <md-list-item ng-repeat="item in menuItems"
                              ng-show="item.visible"
                              md-ink-ripple id="{{item.id}}"
                              ng-style="item.active == true ? {'background':'#00456A'} : {'background':'white'}">
                    <md-item-content>
                        <a href="" ng-click="navigateTo(item.url,item.id)"
                           ng-style="item.active == true ? {'color':'white'}:{'color':'{{item.ic_color}}'}">
                            <i class="{{item.icon}}"></i>&nbsp; <span ng-bind="item.name"></span>
                        </a>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content ng-view layout="column" flex class="md-padding"></md-content>
    </div>
</div>
<!-- Main Content -->
<!--===JAVASCRIPTS====-->
<!--JS Bundle-->
<script src="linked_scripts/jquery.js"></script>
<script src="scripts/bundle.js"></script>
<script src="linked_scripts/angular-material.min.js"></script>
<script src="linked_scripts/materialize.js"></script>
<script src="linked_scripts/ng-table.js"></script>
<script src="linked_scripts/ng-table.min.js.map"></script>
<script src="linked_scripts/angular-file-upload.js"></script>
<script src="linked_scripts/Chart.min.js"></script>
<script src="linked_scripts/angular-chart.js"></script>
<script src="linked_scripts/loading-bar.min.js"></script>
<script src="linked_scripts/angular-file-saver.bundle.js"></script>
</body>
</html>