<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="end center">
		<a href="#/new-bizNo">
			<md-button class="md-fab" aria-label="New Business Number">
			<icon class="fa fa-plus" style="color:white"></icon>
			</md-button>
		</a>
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">Business Numbers</h5>
<div loading-container="tableParams.settings().$loading">
	<div class="responsive-table">
		<table ng-table="tableParams" show-filter="true" class="table bordered striped hoverable">
			<tbody>
				<tr ng-repeat="biz in $data">
					<td filter="{'bizNo':'text'}" data-title="'Business Number'">{{biz.businessNumber}}</td>
					<td filter="{'bizName':'text'}"data-title="'Business Name'">{{biz.accountName}}</td>
					<td data-title="'Status'"
						ng-style="'{{biz.status}}' == '0' ? {'color':'blue'} : '{{biz.status}}' == '1' ? {'color':'green'} : {'color':'red'}">
						{{biz.status == 0 ? 'Pending Approval' : biz.status == 1 ? 'Active' : biz.status == 2 ? 'Rejected' : 'Disabled'}}
					</td>
					<td data-title="'Action'">
						<a href="#/bizNo/{{biz.businessid}}" ng-show="({{biz.status}} == '1' && isPaybillMaker) || ({{biz.status}} == '2' && isPaybillMaker)">
							<icon class="fa fa-pencil" style="color:#333"></icon>
							<md-tooltip>Edit</md-tooltip>
						</a>
						<a href="" ng-click="rejectBiz($event, biz);" ng-show="({{biz.status == '0'}} && isPaybillChecker)">
							<icon class="fa fa-times" style="color:red"></icon>
							<md-tooltip>Reject</md-tooltip>
						</a>&nbsp;
						<a href="" ng-click="approveBiz($event, biz);" ng-show="({{biz.status == '0'}} && isPaybillChecker)">
							<icon class="fa fa-check" style="color:green"></icon>
							<md-tooltip>Approve</md-tooltip>
						</a>
						<a href="" ng-show="({{biz.status}} == '2' && isPaybillChecker)  || {{biz.status}} == '3' || ({{biz.status}} == '0' && !isPaybillChecker) || ({{biz.status}} == '1' && isPaybillChecker)">
							<icon class="fa fa-ban" style="color:orange"></icon>
							<md-tooltip>No Action</md-tooltip>
						</a>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</md-card-content>
</md-card>
</md-content>