<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="start center">
		<a href="#/roles">
			<md-button class="md-fab" aria-label="Roles">
			<icon class="fa fa-chevron-left" style="color:white"></icon>
			</md-button>
		</a>
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">New Role</h5>
<md-tabs md-selected="selectedTab" md-dynamic-height md-border-bottom class="md-accent">
<!-- Tab One -->
<md-tab label="Role Details" ng-disabled="roleDetailsTabDisabled">
<md-content class="md-padding">
<form name="form.roleForm">
	<!-- Name -->
	<md-input-container>
	<label>Role Name</label>
	<input ng-model="role.roleName" required type="text"/>
	</md-input-container>
	<!-- Description -->
	<md-input-container>
	<label>Role Descritpiton</label>
	<input ng-model="role.roleDescription" required type="text"/>
	</md-input-container>
	<!-- Clear and Next Button -->
	<div layout="row" layout-align="end center">
		<button class="btn grey" ng-click="resetForm();">Clear <icon class="fa fa-eraser"></icon></button>&emsp;
		<button class="btn" ng-click="setRole(role);">Next <icon class="fa fa-arrow-circle-right"></icon></button>
	</div>
</form>
</md-content>
</md-tab>
<!-- Tab Two -->
<md-tab label="Role Permissions" ng-disabled="permissionTabDisabled">
<md-content class="md-padding">
<div loading-container="permissionTableParams.settings().$loading">
	<div class="responsive-table">
		<table ng-table="permissionTableParams" show-filter="true" class="table bordered striped hoverable">
			<tbody>
				<tr ng-repeat="permission in $data">
					<td filter="{'permissionName':'text'}" data-title="'Permission Name'">{{permission.permissionName}}</td>
					<td data-title="'Description'">{{permission.permissionDescription}}</td>
					<td data-title="'Select'">
						<!-- ng-checked="{{selectedPermissions.indexOf(permission) > -1}}"  -->
						<md-checkbox
						ng-model="permissionsChckBox[permission.permissionId]"
						ng-click="toggleSelectedPermission(permission)"
						aria-label="Select">
						</md-checkbox>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</md-content>
<!-- <pre>{{selectedPermissions|json}}</pre> -->
<div class="divider"></div>
<md-content class="md-padding">
<div layout="row" layout-align="end center">
	<button class="btn grey" ng-click="restart();">Cancel <icon class="fa fa-times"></icon></button>&emsp;
	<button class="btn" ng-click="save();">Submit <icon class="fa fa-check"></icon></button>
</div>
</md-content>
</md-tab>
</md-tabs>
</md-card-content>
</md-card>
</md-content>