<div class="col s12" style="width:600px">
	<md-dialog aria-label="Payment Details" ng-cloak>
	<form name="form.txForm">
		<md-toolbar class="teal">
		<div class="md-toolbar-tools">
			<h2 class="white-text">Transaction Details</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
			<md-icon aria-label="close Dialog" class="fa fa-times" ng-style="{'color':'white', 'font-size':'18px'}"></md-icon>
			</md-button>
		</div>
		</md-toolbar>
		<md-dialog-content>
		<div layout layout-sm="column">
			<!-- Mpesa Tran Id -->
			<md-input-container flex>
			<label>Mpesa Tran Id</label>
			<input ng-model="payment.mpesatransactioncode" required type="text" disabled ng-style="{'color':'#333'}"/>
			</md-input-container>
			<!-- Transaction Date -->
			<md-input-container flex>
			<label>Transaction Date</label>
			<input ng-model="payment.transactionDate" required type="text" disabled ng-style="{'color':'#333'}"/>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<!-- Sender's Name -->
			<md-input-container flex>
			<label>Senders Name</label>
			<input ng-model="payment.senderFirstName" required type="text" disabled ng-style="{'color':'#333'}"/>
			</md-input-container>
			<!-- Phone Number -->
			<md-input-container flex>
			<label>Phone Number</label>
			<input ng-model="payment.senderMsisdn" required type="text" disabled ng-style="{'color':'#333'}"/>
			</md-input-container>
		</div>
		<div layout layout-sm="column">
			<!-- Amount -->
			<md-input-container flex>
			<label>Amount</label>
			<input ng-model="payment.amount" required type="text" disabled ng-style="{'color':'#333'}"/>
			</md-input-container>
			<!-- Account Number -->
			<md-input-container flex>
			<label>Account Number</label>
			<input ng-model="payment.accountNumber" required type="text" disabled ng-style="{'color':'#333'}"/>
			</md-input-container>
		</div>
		<!-- 	<div class="input-field col s12">
				<textarea id="requestedAction" ng-model="payment.requestedAction" class="materialize-textarea" disabled></textarea>
				<label for="requestedAction">Requested Action</label>
		</div> -->
		<div class="col s12">
			<p>
				<span class="teal-text"><u><Strong>Requested Change</Strong></u></span>
				<span ng-style="{'color':'#333'}">
					<br/>{{payment.requestedAction.split('|')[0]}}
					<br/>
					<!-- Invalid Transaction -->
					<span ng-show="{{payment.requestedAction.split('|')[0] == 'Invalid Account'}}">
						<strong class="teal-text">From</strong>
						{{payment.requestedAction.split('|')[1].split('->')[0]}}
						<strong class="teal-text">To</strong>
						{{payment.requestedAction.split('|')[1].split('->')[1]}}
					</span>
					
					<!-- Reversed Transaction	 -->
					<span ng-show="{{payment.requestedAction.split('|')[0] == 'Transaction Reversed'}}">
						{{payment.requestedAction.split('|')[1]}}
					</span>

				</span>
			</p>
		</div>
		</md-dialog-content><br/>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">Close</md-button>
		</div>
	</form>
	</md-dialog>
</div>