<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="start center">
		<a href="#/cards">
			<md-button class="md-fab" aria-label="Cards">
			<icon class="fa fa-chevron-left" style="color:white"></icon>
			</md-button>
		</a>
		
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">New Card</h5>
<form name="form.cardForm" style="padding:24px">
	<div layout layout-sm="column">
		<!-- Card Bin -->
		<md-input-container flex>
		<label>Card Bin</label>
		<input ng-model="card.cardnumberidentifier" required type="text"/>
		</md-input-container>
		<!-- Card Name -->
		<md-input-container flex>
		<label>Card Name</label>
		<input ng-model="card.cardName" required type="text"/>
		</md-input-container>
	</div>
	<div layout layout-sm="column">
		<!-- Processing Code-->
		<md-input-container flex>
		<label>Processing Code</label>
		<input ng-model="card.processingCode" required type="text"/>
		</md-input-container>
		<!-- Collection Account -->
		<md-input-container flex>
		<label>Collection Account</label>
		<input ng-model="card.collectionAccount" required type="text"/>
		</md-input-container>
	</div>
	
	<!-- Submit Button -->
	<div layout="row" layout-align="end center">
		<button class="btn grey" ng-click="resetForm();">Clear <icon class="fa fa-times"></icon></button>&emsp;
		<button class="btn" ng-click="save(card);">Submit <icon class="fa fa-check"></icon></button>
	</div>
</form>
</md-card-content>
</md-card>
</md-content>