<md-content class="md-padding">
<div>
	<section layout="row" layout-sm="column" layout-align="end center">
		<a href="#/new-card">
			<md-button class="md-fab" aria-label="New Card">
			<icon class="fa fa-plus" style="color:white"></icon>
			</md-button>
		</a>
	</section>
</div>
<md-card>
<md-card-content>
<h5 class="md-title">Cards</h5>
<div loading-container="tableParams.settings().$loading">
	<div class="responsive-table">
		<table ng-table="tableParams" show-filter="true" class="table bordered striped hoverable">
			<tbody>
				<tr ng-repeat="card in $data">
					<td filter="{'cardName':'text'}" data-title="'Card Name'">{{card.cardName}}</td>
					<td filter="{'cardBin':'text'}"data-title="'Card Bin'">{{card.cardnumberidentifier}}</td>
					<td data-title="'Processing Code'">{{card.processingCode}}</td>
					<td data-title="'Collection Account'">{{card.collectionAccount}}</td>
					<td data-title="'Status'"
					ng-style="{{card.status}} == '0' ? {'color':'blue'} : {{card.status}} == '1' ? {'color':'green'} : {'color':'red'}">
					{{card.status == 0 ? 'Pending Approval' : card.status == 1 ? 'Active' : card.status == 2 ? 'Rejected' : 'Disabled'}}
					</td>
					<td data-title="'Action'">
						<a href="#/card/{{card.cardid}}" ng-show="({{card.status}} == '1' && isPaybillMaker) || ({{card.status}} == '2' && isPaybillMaker)">
							<icon class="fa fa-pencil" style="color:#333"></icon>
							<md-tooltip>Edit</md-tooltip>
						</a>
						<a href="" ng-click="rejectCard($event,card);" ng-show="({{card.status}} == '0') && isPaybillChecker">
							<icon class="fa fa-times" style="color:red"></icon>
							<md-tooltip>Reject</md-tooltip>
						</a>&nbsp;
						<a href="" ng-click="approveCard($event,card);" ng-show="({{card.status}} == '0') && isPaybillChecker">
							<icon class="fa fa-check" style="color:green"></icon>
							<md-tooltip>Approve</md-tooltip>
						</a>
						<a href="" ng-show="({{card.status}} == '2' && isPaybillChecker)  || {{card.status}} == '3' || ({{card.status}} == '0' && !isPaybillChecker) || ({{card.status}} == '1' && !isPaybillMaker)">
							<icon class="fa fa-ban" style="color:orange"></icon>
							<md-tooltip>No Action</md-tooltip>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</md-card-content>
</md-card>
</md-content>