<div layout="row" layout-align="center center">
	<div flex="50">
		<md-content class="md-padding">
		<div class="row">
			<div class="col m12 s12">
				<form name="loginForm" ng-style="{'padding':'18px'}" class="duma-form">
					<div class="card z-depth-5">
						<!-- Card Content -->
						<div class="card-content white-text">
							<div class="card-title teal-text">Login
								<!-- Domain Selector -->
								<span class="switch right">
									<i class="fa fa-windows"></i>
									<label class="teal-text">
										HERCULES 
										<input type="checkbox" ng-model="user.useDumaDomain" ng-disabled="true">
										<span class="lever"></span>
										DUMA
									</label> 
									 &nbsp;<i class="fa fa-database"></i>
								</span>
							</div>

							<div class="md-padding">
								<p ng-style="{'color':'#ccc'}" ng-show="!user.useDumaDomain">Use Your Windows Credentials</p>
								<p ng-style="{'color':'#ccc'}" ng-show="user.useDumaDomain">Use Your Duma Portal Credentials</p>
								<!-- User Name -->
								<md-input-container>
								<label><icon class="fa fa-user"></icon>&emsp;UserName</label>
								<input ng-model="user.usrUsername" required type="text" placeholder="Enter Email">
								</md-input-container>
								<!-- Password -->
								<md-input-container>
								<label><icon class="fa fa-lock"></icon>&emsp;Password</label>
								<input ng-model="user.usrPassword" required type="password" placeholder="Enter Password">
								</md-input-container>
							</div>
						</div>
						<!-- Card Action -->
						<div class="card-action">
							<!-- Submit Button -->
							<div layout="row" layout-align="end center">
								<a  href="#/forgot-password">Forgot Password?</a>
								<button class="btn" ng-click="login(user);">Login</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</md-content>
	</div>
</div>