<div layout="row" layout-align="center center">
	<div flex="50">
		<md-content class="md-padding">
		<div class="row">
			<div class="col m12 s12">
				<form name="loginForm" ng-style="{'padding':'18px'}" class="duma-form">
					<div class="card z-depth-5">
						<!-- Card Content -->
						<div class="card-content white-text">
							<span class="card-title teal-text">Login</span>
							<!-- User Name -->
							<md-input-container>
							<label><icon class="fa fa-user"></icon>&emsp;UserName</label>
							<input ng-model="user.usrEmail" required type="text" placeholder="Enter Email">
							</md-input-container>
							<!-- Password -->
							<md-input-container>
							<label><icon class="fa fa-lock"></icon>&emsp;Password</label>
							<input ng-model="user.usrPassword" required type="password" placeholder="Enter Password">
							</md-input-container>
						</div>
						<!-- Card Action -->
						<div class="card-action">
							<!-- Submit Button -->
							<div layout="row" layout-align="end center">
								<a  href="#/forgot-password">Forgot Password?</a>
								<button class="btn" ng-click="login(user);">Login</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		</md-content>
	</div>
</div>