<!-- Mobi Sales Dashboard -->
<div class="row" ng-if="showMobiSalesDashboard">
  <div class="col m12">
    <div ng-include src="'views/Dashboard/partial-mobi-sales-dash.html'" ng-if="tomato"></div>
  </div>
  <!-- <div class="col m2"><p class="white-text">Tomato Paste is the Best</p></div> -->
</div>
<!-- Paybill Dashboard -->
<div class="row" ng-if="showPaybillDashboard">
  <div class="col m10">
    <div ng-include src="'views/Dashboard/partial-paybill-dash.html'" layout="column"></div>
  </div>
  <div class="col m2"><p class="white-text">Tomato Paste is the Best</p></div>
</div>